.section3{
	width: 100%;
	height: 1100px;
	background-color: #f4f4f4;
}

#section3-head{
	color: #333333;
	font-size: 50px;
	position: absolute;
	margin-top: -6%;
	margin-left: 5%;
}

.section3-box-cont{
	margin-top: 9%;
	margin-left: 9%;
}
.section3-box1{
	width: 400px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
	border-bottom: 17px solid #4d168d;
}

#section3-meassage{
	font-size: 50px;
	color: #4d168d;
	text-decoration: none;
	position: absolute;
	margin-top: 1%;
	margin-left: 14%;
}

#section3-phone-number{
	color: #333333;
	text-align: center;
	position: absolute;
	margin-top: 7%;
	margin-left: 4%;
}

#section3-box1-p{
	position: relative;
	top: 70%;
    left: 5.5%;
	text-align: center;
	width: 90%;
}

.section3-box2{
	width: 400px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
	border-bottom: 17px solid #ff2c9c;
	margin-top: 5%;
}

#section3-mail-icon{
	font-size: 50px;
	color: #ff2c9c;
	text-decoration: none;
	position: absolute;
	margin-top: 1%;
	margin-left: 14%;
}

#section3-mail{
	color: #333333;
	text-align: center;
	position: absolute;
	margin-top: 7%;
	margin-left: 3.5%;
	text-decoration: none;	
}

#section3-box2-p{
	position: relative;
	top: 70%;
    left: 6%;
	text-align: center;
	width: 90%;
}
.section3-box1:hover #section3-wapp-animation{
	-webkit-animation: movertop 1s infinite  alternate;
    animation: movertop 1s infinite  alternate;
}
.section3-box2:hover #section3-mail-animation{
	-webkit-animation: sectionshake 0.7s infinite  alternate;
    animation: sectionshake 0.7s infinite  alternate;
    transition: ease;
}


@-webkit-keyframes section3movertop {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
@keyframes sectionshake{
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.contactform{
	width: 650px;
	height: 500px;
	position: absolute;
	margin-top: -45%;
	margin-left: 37%;
	box-sizing: border-box;
}
.contactform-cont{
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  padding:10px 50px 50px;
}
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  background: transparent;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus { outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}


.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

textarea{
	width: 100%;
	height: 100px;
	border: 1px solid #fcfcfc;
	background: transparent;
	box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
	border: none;
	resize: none;
	overflow: auto;
	
}
#send{
	margin-top: 50px;
	background-color: #612a66;
	border: none;
	color: white;
	border-radius: 50px;
	cursor: pointer;
}

#services-select{
	width: 100%;
	height: 50px;
	background: transparent;
	border-bottom: solid 1px grey ;
	border-top: none;
	border-right: none;
	border-left: none;
	cursor: pointer;
	color: grey;
	font-size: 17px;
}

