.section2{
	width: 100%;
	height: 2000px;
}

.section2-email-up{
	width: 90%;
    margin-top: 10%;
	margin-left: 3%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 100px;
}

.section2-email-cards-up{
	width: 600px;
	height: 600px;
}

.section2-email-cards-up h1{
	font-size: 30px;
	font-family: sans-serif;
	color: #f07221;
}

.section2-email-cards-up p{
	font-size: 18px;
	margin-top: 5%;
	margin-left: 1%;
	width: 90%;
	line-height: 35px;
}

.section2-email-cards-up img{
	width: 75%;
	margin-top: 5%;
	margin-left: 10%;
}

.section2-email-mid{
	width: 90%;
    margin-top: 5%;
	margin-left: 1.5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 120px;

}

.section2-email-cards-mid{
	width: 400px;
	height: 680px;
}

#section2-email-cards-mid-h1{
	font-size: 25px;
	font-family: sans-serif;
	margin-left: 19.5%;
	color: #222222;
}
.section2-email-cards-mid .fa-envelope{
	font-size: 35px;
	color: #f07221;
	position: absolute;
	margin-left: 2%;
}

#section2-email-cards-mid-p1{
	margin-top: 2%;
	margin-left: 19.5%;
}

#section2-email-cards-mid-h2{
	font-size: 25px;
	font-family: sans-serif;
	margin-top: 15%;
	margin-left: 19.5%;
	color: #222222;
}
.section2-email-cards-mid .fa-certificate{
	font-size: 35px;
	color: #f07221;
	position: absolute;
	margin-top: 4.5%;
	margin-left: 2%;
}
.section2-email-cards-mid .fa-money-bill-trend-up{
	font-size: 35px;
	color: #f07221;
	position: absolute;
	margin-left: 2%;
}
.section2-email-cards-mid .fa-users-line{
	font-size: 35px;
	color: #f07221;
	position: absolute;
	margin-top: 5.5%;
	margin-left: 2%;
}

#section2-email-cards-mid-p2{
	margin-top: 2%;
	margin-left: 19.5%;
}

#section2-email-cards-mid-img1{
   width: 100%;
} 

#section2-email-cards-mid-img2{
   width: 45%;
   margin-top: 50%;
   margin-left: 35%;
} 

.section2-email-end{
    margin-top: 8%;
    margin-left: 1%;
    width: 98%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	gap: 50px;
}

.section2-email-cards-end{
	width: 100%;
	height: 420px;

}

.section2-email-cards-end h1{
	text-align: center;
	margin-top: 22%;
	font-size: 25px;
}

.section2-email-cards-end p{
	text-align: center;
	margin-top: 2%;
	line-height: 30px;
}

.section2-email-cards-end .fa-chart-line{
	font-size: 50px;
	color: #f07221;
	position: absolute;
	margin-left: 8.5%;
}

.section2-email-cards-end .fa-coins{
	font-size: 45px;
	color: #f07221;
	position: absolute;
	margin-left: 9%;
}

.section2-email-cards-end .fa-wifi{
	font-size: 45px;
	color: #f07221;
	position: absolute;
	margin-left: 9%;
}

.section2-email-cards-end .fa-earth-americas{
	font-size: 45px;
	color: #f07221;
	position: absolute;
	margin-left: 9%;
}