.footer{
	width: 100%;
	height: 500px;
	background-color: #f4f4f4;
	margin-top: -10%;
}


.footer-cont{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap:10px;
	margin-top: 5%;
	margin-left: 1%;
}

.footer-sec{
	width: 300px;
	height: 400px;

}

#footer-sec-head{
	color: #333333;
	font-size: 23px;
	font-weight: 600;
	margin-top: 20%;
	margin-left: 8%;
}


.footer-sec #footer-sec-ul{
	list-style: none;
	margin-top: 5%;
	margin-left: 8%;
	line-height: 50px;
}

.footer-sec #footer-sec-ul li a{
	text-decoration: none;
	color: #4b4c4c;
}

.footer-sec p{
	margin-top: 6%;
	margin-left: 8%;
	color: #4b4c4c;
}

#footer-social {
	position: relative;
	display: flex;
	margin-top: 7%;

}

#footer-social a{
	position: relative;
	list-style: none;
	margin:0 16px;
	cursor: pointer;

}
#footer-social a  {
	text-decoration: none;
}
#footer-social a   .fa-brands{
	font-size: 1.9em;
	color: #434242;

}

#footer-social a::before{
	font-family: "FontAwesome";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.9em;
	height: 0;
	overflow: hidden;
	transition: 0.5s ease-in-out;

}

#footer-social a:nth-child(1)::before{
	content: "\f082";
	color: #1877f2;
	
}

#footer-social a:nth-child(2)::before{
	content: "\f16d";
	background-image: linear-gradient(45deg,
	 #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
	 #bc1888 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;

}

#footer-social a:nth-child(3)::before{
	content: "\f232";
	color: #25d366;

}

#footer-social a:nth-child(4)::before{
	content: "\f1b4";
	color: black;
}

#footer-social a:nth-child(5)::before{
	content: "\f08c";
	color: #2964aa;
}

#footer-social a:hover::before{
   height: 100%;
}

.copyright-footer{
	width: 100%;
	height: 50px;

}

.copyright-footer p{
	width: 90%;
	color: #323232;
	position: relative;
    top: 25%;
    left: 2%;
}