.section6{
	width: 100%;
	height: 1475px;
	background-color: white;
}



#section6-head{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin-top: -1%;
  margin-left: 30%;

}



.section6-cards-cont{
	width: 90%;
    margin-top: 8%;
	margin-left: 3%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	gap: 130px;

}

.section6-card{
	width: 350px;
	height: 400px;
    background-color: red;
    box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
    transition: 0.5s;
}

.section6-card:hover{
  margin-top: -15px;
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.8);
}

.section6-card img{
	width: 100%;
	height: 100%;
}


.section6-button{
	width: 190px;
	height: 52px;
	border-radius: 100px;
	border: 1px solid #9a1aad;
	text-decoration: none;
	position: relative;
    top: -90%;
    left: 170%;
	transition: .3s;
}

.section6-button #zoli{
	font-size: 17px;
	text-align: center;
	color: #612a66;
	margin-top: 6%;

}

.section6-button:hover{
   background-color: #612a66;

}

.section6-button:hover #zoli{
   color: white;
}