@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@500&display=swap');

.section3{
	width: 100%;
	height :650px;
	background:url(pattern.png);
}

#section3-header{
	  font-family: 'Raleway', sans-seriffont-family: 'Noto Serif NP Hmong', serif;
    font-size: 35px;
	  color: #2d2d32;
    position: absolute;
    margin-top: 100px;
	  margin-left: 100px;
}

.tab {
  height: 600px;
  display: flex; justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 300px;
}

.tab-container {
  max-width: 1200px; height: 600px;
  margin: 0 auto;
}

.tab-nav {
  display: flex;
  margin: 0px auto;
  list-style: none;
  position: absolute;
  margin-top: -100px;
  margin-left: 6%;
  transition: all 0.3s;

}

.tab-nav li {
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #10366f;
  	
}

.tab-nav li.active {
  background-color: #10366f;
  transform: scale(1.2);
  color: white;
}

.tab-nav li:not(:last-child) {
  margin-right: 70px;
}

.tab-body {
    margin-top: 100px;
    display: none;
    align-items: center;
    animation: fade 0.8s;
  }

.tab-col-left{  	
  	margin-top: -100px;
  	margin-left: 70px;
  }

.tab-col-right{
  display: flex;
  justify-content: center;
}

 .tab-col-left p{
 	width: 97%;
  font-size: 19px;
 }



.circle-cont{
  position: absolute;
  margin-top: -170px;
  margin-left: 180px;
  width: 100px;
}

#circle-cont-social{
  width: 160px;
  height: 210px;
  position: absolute;
  top:-5px;
  left: 15px;
  right: 0;
  bottom: 0;
}

#circle-cont-file1{
  width: 70px;
  position: absolute;
  top:60px;
  left: -60px;
  opacity: 0.5;
}
#circle-cont-file2{
  width: 70px;
  position: absolute;
  top:60px;
  left: 190px;
  opacity: 0.5;
}

.circle-path1{
  width: 200px;
  height: 200px;
  border: 3px solid #dedede;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0; 
  border-radius: 50%;
}

.path1-circle1{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:circle 25s linear infinite;
  animation: circle 25s linear infinite;
}



.path1-circle2{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:circletwo 25s linear infinite;
  animation: circletwo 25s linear infinite;
}


@-webkit-keyframes circle{

  0%{
    transform: rotate(0deg)translate(-100px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translate(-100px)rotate(365deg);
  }

@keyframes circle{

  0%{
    transform: rotate(0deg)translate(-100px)rotate(0deg);
  }

  100%{
    transform: rotate(360deg)translate(-100px)rotate(-365deg);
  }


}

}


@-webkit-keyframes circletwo{

  0%{
    transform: rotate(0deg)translate(100px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translate(100px)rotate(365deg);
  }

@keyframes circletwo{

  0%{
    transform: rotate(0deg)translate(100px)rotate(0deg);
  }

  100%{
    transform: rotate(360deg)translate(100px)rotate(-365deg);
  }


}

}






.circle-path2{
  width: 300px;
  height: 300px;
  border: 3px solid #dedede;
  position: absolute;
  margin-left:-50px;
  margin-top: -50px;
  border-radius: 50%;
}

.path2-circle1{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:circlepathTWO 33s linear infinite;
  animation: circlepathTWO 33s linear infinite;
}



.path2-circle2{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:circletwopathTWO 33s linear infinite;
  animation: circletwopathTWO 33s linear infinite;


}

.path2-circle3{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:circletwopathTHREE 33s linear infinite;
  animation: circletwopathTHREE 33s linear infinite;


}

@-webkit-keyframes circlepathTWO{

  0%{
    transform: rotate(0deg)translateY(-150px)rotate(0deg);

  }

  100%{
    transform: rotate(360deg)translateY(-150px)rotate(-365deg);
  }

@keyframes circlepathTWO{

  0%{
    transform: rotate(0deg)translateX(-150px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translateX(-150px)rotate(365deg);
  }


}

}


@-webkit-keyframes circletwopathTWO{

  0%{
    transform: rotate(0deg)translateY(150px)rotate(0deg);
  }

  100%{
    transform: rotate(360deg)translateY(150px)rotate(-365deg);
  }

@keyframes circletwopathTWO{

  0%{
    transform: rotate(0deg)translateY(150px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translateY(150px)rotate(365deg);
  }


}

}

@-webkit-keyframes circletwopathTHREE{

  0%{
    transform: rotate(0deg)translateX(150px)rotate(0deg);
  }

  100%{
    transform: rotate(360deg)translateX(150px)rotate(-365deg);
  }

@keyframes circletwopathTHREE{

  0%{
    transform: rotate(0deg)translateX(150px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translateX(150px)rotate(365deg);
  }


}

}

.circle-path3{
  width: 400px;
  height: 400px;
  border: 3px solid #dedede;
  position: absolute;
  margin-left:-100px;
  margin-top: -100px;
  border-radius: 50%;
}

.path3-circle1{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:pathTHREEcircle 35s linear infinite;
  animation: pathTHREEcircle 35s linear infinite;
}



.path3-circle2{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:pathTHREEcircletwo 35s linear infinite;
  animation: pathTHREEcircletwo 35s linear infinite;
}

.path3-circle3{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:pathTHREEcircleTHREE 35s linear infinite;
  animation: pathTHREEcircleTHREE 35s linear infinite;
}

.path3-circle4{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-animation:pathTHREEcircleFOUR 35s linear infinite;
  animation: pathTHREEcircleFOUR 35s linear infinite;
}



@-webkit-keyframes pathTHREEcircle{

  0%{
    transform: rotate(0deg)translateX(-200px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translateX(-200px)rotate(365deg);
  }

@keyframes pathTHREEcircle{

  0%{
    transform: rotate(0deg)translateX(-200px)rotate(0deg);
  }

  100%{
    transform: rotate(360deg)translateX(-200px)rotate(-365deg);
  }


}

}


@-webkit-keyframes pathTHREEcircletwo{

  0%{
    transform: rotate(0deg)translateX(200px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translateX(200px)rotate(365deg);
  }

@keyframes pathTHREEcircletwo{

  0%{
    transform: rotate(0deg)translateX(200px)rotate(0deg);
  }

  100%{
    transform: rotate(360deg)translateX(200px)rotate(-365deg);
  }


}

}


@-webkit-keyframes pathTHREEcircleTHREE{

  0%{
    transform: rotate(0deg)translateY(200px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translateY(200px)rotate(365deg);
  }

@keyframes pathTHREEcircleTHREE{

  0%{
    transform: rotate(0deg)translateY(200px)rotate(0deg);
  }

  100%{
    transform: rotate(360deg)translateY(200px)rotate(-365deg);
  }


}

}

@-webkit-keyframes pathTHREEcircleFOUR{

  0%{
    transform: rotate(0deg)translateY(-200px)rotate(0deg);
  }

  100%{
    transform: rotate(-360deg)translateY(-200px)rotate(365deg);
  }

@keyframes pathTHREEcircleFOUR{

  0%{
    transform: rotate(0deg)translateY(-200px)rotate(0deg);
  }

  100%{
    transform: rotate(360deg)translateY(-200px)rotate(-365deg);
  }


}

}

.mission-cont{
position: absolute;
  margin-top: -250px;
  margin-left: 200px;
}
#mission-img{
  width: 280px;
}

.vision-cont{
position: absolute;
  margin-top: -250px;
  margin-left: 200px;
}
#vision-img{
  width: 400px;
}







  
  .tab-body.active { display: flex; }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .tab-body .tab-col-left,
  .tab-body .tab-col-right {
    flex: 1;
  }
  


