@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 17px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 10px 0px;
  background: #f8f8f8;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#logoImg{
  width: 150px;
  margin-left: 0px;
  margin-top: 10px;
}
#logoImgSticky{
  width: 150px;
  margin-left: 0px;
  margin-top: 10px;
  display: none;
}
.navbar.sticky #logoImgSticky{
  display: block;
}

.navbar.sticky #logoImg{
  display: none;
}

.navbar.sticky .menu-list li a{
   color:#10366f; 
}
.navbar.sticky .menu-list li a:hover{
   color:#ff2c9c;
}


.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
  margin-top: 0px;
  margin-left: 9.5px;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: white;
  font-size: 22px;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #ff2c9c;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}

.icon .navbar.sticky{
  background-color: red;
}