.section2{
	width: 100%;
	height: 1400px;
}

.section2-top-cards{
	width: 90%;
    margin-top: 8%;
	margin-left: 4.5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 50px;
}

.section2-top-card{
	width: 260px;
	height: 290px; 
	transition: 0.2s ease-in-out;  
	background-color: white;
}

.section2-top-card img{
	position: absolute;
    margin-top: 2%;
    margin-left: 6.4%;
}
#section2-card-linkb{
	margin-left: 4.8%
}
#section2-card-comAna{
	margin-left: 4.8%
}

.section2-top-card h1 {
	font-size: 20px;
	text-align: center;
	margin-top: 50%;
}

.section2-top-card p {
	text-align: center;
	margin-top: 2%;
	font-size: 13px;
}

.section2-top-card:hover{
    box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
    margin-top: -5%;
   
}

.section2-mid-cards{
	width: 90%;
    margin-top: 12%;
	margin-left: 6%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 10px;

}

.section2-mid-card{
	width: 540px;
	height: 290px; 
	transition: 0.2s ease-in-out;  
	
	
}

.section2-mid-card img{
	width: 344px;
	height: 285px;
	position: absolute;
	margin-left: 3%;
}

.section2-mid-card h1{
   color:#002538;
   margin-top: 9%;
   font-size: 29px;
}

.section2-mid-card p{
   color:#002538;
   margin-top: 3%;
   width: 105%;
   line-height: 30px;
   font-size: 18px;
}

.section2-end-cards{
	width: 90%;
    margin-top: 12%;
	margin-left: 6%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 10px;

}

.section2-end-card{
	width: 540px;
	height: 290px; 
	transition: 0.2s ease-in-out;
	
}

.section2-end-card img{
	width: 444px;
	height: 385px;
	position: absolute;
	margin-left: 10%;
}

.section2-end-card h1{
   color:#002538;
   margin-top: 9%;
   font-size: 29px;
}

.section2-end-card p{
   color:#002538;
   margin-top: 3%;
   width: 100%;
   line-height: 30px;
   font-size: 18px;
}
