.section3{
	width: 100%;
	height: 350px;	
}

#section3-bg{
	width: 100%;
	height: 100%;
}

#section3-small-h{
	position: absolute;
	margin-top: -21%;
	margin-left: 39%;
	font-size: 18px;
	color: white;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

#section3-big-h{
	position: absolute;
	margin-top: -18%;
	margin-left: 26%;
	text-align: center;
	color: white;
}

.section3-form{
	position: absolute;
	margin-top: -12%;
	margin-left:6%;
	padding-left:  50px;
	width: 94%;
}

.section3-form-input{
 	width: 400px;
 	height: 50px;
 	border-radius: 5px;
    border: none;
}

.section3-form-send{
	width: 200px;
	height: 50px;
	background-color: transparent;
	border: 1px solid white;
	cursor: pointer;
	border-radius: 10px;
	font-size: 16px;
	color:white;
	font-weight: 600;

}

.section3-form-send:hover{
  border: none;
  background-color: #9a4dd5;
  font-weight: 800;
  font-size: 17px;
}

#form-email{
	margin-left: 1%
}

#form-btn{
	margin-left: 1%;
}