@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
.section4{
	width: 100%;
	height: 800px;
	background-color: white;
}

.section4-cont{
	width: 90%;
	margin-top: 1.5%;
	margin-left: 2.5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
	gap: 100px;
}

.section4-cont-card{
	width: 600px;
	height: 450px;
    
}

.section4-cont-card h1{
	font-size: 40px;
	margin-top: 0%;
	margin-left: 9%;
	width: 90%;
	font-weight: 500;
	color: #3c3c3c;
}

.section4-cont-card h2{
	margin-top: 4%;
	margin-left: 9%;
	width: 90%;
    color: #4c4c4c;
    font-size: 19px;
    font-weight: 500;
}

.section4-cont-card h3{
	margin-top: 3%;
	margin-left: 9%;
	width: 90%;
    color: #4c4c4c;
    font-size: 18px;
    font-weight: normal;
}

.section4-cont-card a{
	text-decoration: none;
}

.section4-cont-card-btn{
	width: 160px;
	height: 45px;
	border-radius: 15px;
    background-color: #131313;
	margin-top: 6%;
	margin-left: 35%;
	transition: 0.3s ease-in-out;
}

.section4-cont-card-btn h5{
	text-align: center;
	position: relative;
	top: 25%;
	color: white;
	font-size: 15px;
}

.section4-cont-card-btn:hover{
	background-color: #0d77a9;
}

#section4-frame{
  width: 500px;
  position: absolute;
  margin-top: 3%;
  margin-left: 4%;


}

.slider-cont{
position: absolute;
margin-top: 4%;
margin-left: 8.5%;

}

#slider {
  position: relative;
  width: 380px;
  height: 250px;
 
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;
 
  float: left;
}
#slider ul li img{
  width: 380px;
  height: 250px;
}
 
#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
#slider #prev {
  left: 10px;
  display: none;
}
#slider #next {
  right: 10px;
    display: none;
}