.section3{
	width: 100%;
	height: 6600px;

}

#section3-h1{
	text-align: center;
	font-size: 18px;
	padding-top: 8%;
	font-weight: 500;
}
#section3-h2{
	text-align: center;
	margin-top: 1%;
}

#section3-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section3-facebook-left-up h1{
	margin-top: 12%;
	margin-left: 11%;
	color: #181818;
	font-family: serif;
	font-weight: bolder;
	font-size: 40px;
}
.section3-facebook-left-up .fa-square-facebook{
	color: #3b5998;
	font-size: 60px;
	position: absolute;
	margin-top: -0.5%;
	margin-left: 5%;
}

.section3-facebook-left-up p{
	width: 40%;
	margin-top: 1%;
	margin-left:11%; 
	line-height: 35px;
}

.section3-facebook-right-up img{
	width: 20%;
	position: absolute;
	margin-top: -20%;
	margin-left: 65%;
}

.section3-facebook-left-down h1{
	margin-top: 12%;
	margin-left: 11%;
	color: #181818;
	font-family: serif;
	font-weight: bolder;
	font-size: 40px;
}
.section3-down-card .fa-square-facebook{
	color: #3b5998;
	font-size: 60px;
	position: absolute;
	margin-top: -0.5%;
	margin-left: 5%;
}

.section3-facebook-left-down p{
	width: 40%;
	margin-top: 1%;
	margin-left:11%; 
	line-height: 35px;
}

.fa-crosshairs{
	color: #728ec8;
	font-size: 55px;
	position: absolute;
	margin-top: 0%;
	margin-left: 5%;
}

.section3-facebook-right-down img{
	width: 25%;
	position: absolute;
	margin-top: -20%;
	margin-left: 63%;
}

.section3-down{
	width: 90%;
    margin-top: 15%;
	margin-left: 6%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 80px;
}

.section3-down-card{
	width: 500px;
	height: 400px; 
}
.section3-down-card #section3-card-fb{
	text-align: center;
	font-size: 80px;
	color:#3a449d;
	margin-left: 17%;
}

.section3-down-card h1{
	margin-top: 19%;
	text-align: center;
	font-family: sans-serif;
	font-size: 35px;
}

.section3-down-card p{
	text-align: center;
	margin-top: 3%;
	line-height: 35px;
	font-size: 18px;
}


.section3-ig{
	width: 90%;
    margin-top: 8%;
	margin-left: 6%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 1px;
}

.section3-ig-card{
	width: 550px;
	height: 500px;
}

.section3-ig-card img{
	width: 100%;
	margin-top: 15%;
}

.section3-ig-card .fa-instagram{
	content: "\f16d";
	background-image: linear-gradient(45deg,
	 #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
	 #bc1888 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	margin-top: 5%;
	margin-left: 2%;
	font-size: 50px;
}

#section3-ig-card-h1{
	margin-top: 13%;
	font-size: 25px;
	margin-left: 15%;
	color: #282828;
}

#section3-ig-card-p{
	margin-top: 2.5%;
	margin-left: 15%;
}

.section3-ig-card .fa-ranking-star{
	content: "\e561";
	background-image: linear-gradient(45deg,
	 #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
	 #bc1888 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	margin-top: 3.7%;
	margin-left: 2%;
	font-size: 35px;
}
#section3-ig-card-h2{
	margin-top: 10%;
	font-size: 25px;
	margin-left: 15%;
	color: #282828;
}

#section3-ig-card-p2{
	margin-top: 2.5%;
	margin-left: 15%;
}

.section3-ig-down{
	width: 90%;
    margin-top: 15%;
	margin-left: 4.5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 60px;
}

.section3-ig-down-card{
	width: 360px;
	height: 600px;
}
.fa-coins{
	font-size: 28px;
	content: "\f51e";
	background-image: linear-gradient(45deg,
	 #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
	 #bc1888 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}

.fa-people-group{
	font-size: 28px;
	content: "\e533";
	background-image: linear-gradient(45deg,
	 #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
	 #bc1888 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}
.fa-handshake-simple{
	font-size: 28px;
	content: "\f4c6";
	background-image: linear-gradient(45deg,
	 #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
	 #bc1888 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}
.section3-ig-down-card #section3-ig-down-card-h1{
	font-size: 17px;
	font-weight: normal;
	margin-top: 5%;
}

.section3-ig-down-card #section3-ig-down-card-h2{
	font-size: 17px;
	font-weight: normal;
	margin-top: 35%;
}

.fa-chart-line{
	font-size: 28px;
	content: "\f201";
	background-image: linear-gradient(45deg,
	 #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
	 #bc1888 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}

.section3-ig-down-card img{
	width: 70%;
	margin-top: 40%;
	margin-left: 15%;
}

.section3-twitter{
	width: 90%;
    margin-top: 13%;
	margin-left: 4%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 60px;
}

.section3-twitter-card{
	width: 380px;
	height: 400px;


}

.section3-twitter-card h1{
	font-size: 35px;
	color: #282828;
	font-family: serif;
	margin-top: 0.5%;
	margin-left: 17%;
}
.section3-twitter-card .fa-twitter{
	position: absolute;
	margin-top: 0%;
    color:#00acee;
    font-size: 45px;
}
.section3-twitter-card .fa-comments	{
	position: absolute;
	margin-top: 0%;
    color:#00acee;
    font-size: 40px;
}
.section3-twitter-card p{
	font-size: 18px;
	margin-top: 5%;
	margin-left: 17%;
	line-height: 30px;
}

.section3-twitter-card img{
	width: 100%;
}

.section3-tiktok{
	width: 90%;
    margin-top: 15%;
	margin-left: 6%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 1px;
}

.section3-tiktok-card{
	width: 550px;
	height: 600px;
}

#section3-tiktok-card-p1{
	margin-top: 2%;
	line-height: 30px;
}

.section3-tiktok-card-circle{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid #ff004f;
	background: none;
	margin-top: 10%;
	margin-left: 35%;
}
.section3-tiktok-card-circle .fa-tiktok{
	font-size: 70px;
	margin-top: 25%;
	margin-left:30%;
}
#section3-tiktok-card-h2{
	text-align: center;
	margin-top: 4%;
	font-size: 28px;
}
#section3-tiktok-card-p2{
	text-align: center;
	margin-top: 2%;
}

.section3-tiktok-card img{
	width: 60%;
	margin-top: 30%;
	margin-left: 30%;
}

.section3-snapchat{
	width: 90%;
    margin-top: 20%;
	margin-left: 6%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 1px;
}

.section3-snapchat-card{
	width: 550px;
	height: 600px;
}
.section3-snapchat-card img{
	width: 100%;
}
.section3-snapchat-card h1{
	margin-top: 10%;
	margin-left: 12%;
}
.fa-snapchat{
	position: absolute;
	margin-top: 4.2%;
	color:#FFFC00;
	font-size: 50px;
}

.section3-snapchat-card p{
	margin-top: 2%;
	margin-left: 1.5%;
	line-height: 30px;

}

.section3-youtube{
	width: 90%;
    margin-top: 0%;
	margin-left: 6%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 1px;
}

.section3-youtube-cards{
	width: 550px;
	height: 600px;
}

#section3-youtube-cards-h1{
	color: #FF0000;
}

.section3-youtube-cards h2{
	font-size: 17px;
	color: #282828;
	margin-top: 2%;
	margin-left: 0.5%;
	font-family: serif;
	font-family: bolder;
}
.section3-youtube-cards p{
	color: #282828;
	margin-top: 3%;
	width: 90%;
	line-height: 30px;
}

#section3-youtube-cards-h2{
	color: #FF0000;
	margin-top: 10%;
}

.section3-youtube-cards ul{
	color: #282828;
	font-size: 20px;
	font-family:serif;
	margin-top: 3%;
	margin-left: 6%;
	line-height: 35px;
}

.section3-youtube-cards img{
	width: 80%;
	margin-top: 40%;
	margin-left: 20%;
}

.section3-youtube-down{
	width: 90%;
    margin-top: 8%;
	margin-left: 6%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 1px;
}

.section3-youtube-cards-down{
	width: 550px;
	height: 300px;
}

.section3-youtube-cards-down h1{
	color: #282828;
	margin-top: 1.5%;
	margin-left: 15%;
	font-family: serif;
	font-size: 40px;
}
.section3-youtube-cards-down .fa-photo-film{
	color: #FF0000;
	font-size: 50px;
	position: absolute;
	margin-top: 0.5%;	
}

.section3-youtube-cards-down p{
	margin-top: 5%;
	width: 100%;
	line-height: 30px;
}

.section3-youtube-cards-down .fa-users{
	color: #FF0000;
	font-size: 50px;
	position: absolute;
	margin-top: 0.5%;	
}